---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const pageTitle = "About Me";
const idenfity = {
  firstName: "Diego",
  lastName: "Chacon",
  country: "Colombia",
  occupation: "QA Engineer",
  hobbies: ["Videogames", "Movies", "Travels"],
};

const skills = [
  "HTML",
  "CSS",
  "JS/TS",
  "React",
  "Node JS",
  "Python",
  "MongoDB",
];

const happy = true;
const finished = false;
const energi = 3;

const skillColor = "navy";
const fontWeight = "bold";
---

<head>
  <title>{pageTitle}</title>
  <style define:vars={{ skillColor, fontWeight }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
    }
  </style>
</head>
<Layout>
  <h1>{pageTitle}</h1>
  <p>
    Meet {idenfity.firstName}
    {idenfity.lastName}, a {idenfity.occupation} from {idenfity.country} who is passionate
    about creating high-quality software. With skills in:
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {idenfity.firstName} has a wide range of knowledge in web development and databases.
  </p>
  <p>
    When he's not working, {idenfity.firstName} enjoys {idenfity.hobbies[0]}, {
      idenfity.hobbies[1]
    }, and {idenfity.hobbies[2]}. He is a technology enthusiast and is always
    looking to learn new skills and explore new tools. If you have a software
    project that needs rigorous quality assurance, {idenfity.firstName} is the right
    person for the job.
  </p>

  {happy && <p>I'm happy to be learning Astro!</p>}
  {finished && <p>I finished this tutorial!</p>}
  {
    energi === 3 ? (
      <p>We have energi to learn!</p>
    ) : (
      <p>Its late, I need some rest</p>
    )
  }
</Layout>
